<html>

	<form class ="settings" action="/get_settings.php" method="get">
		<div id="zip" >
        Zip code: <input type = "text" name="zipcode">
        <input type="submit" value="submitZip">
        <br>
		</div>
        <div id="names">
        First: <input type="text" name="firstName">
        Last: <input type="text" name="lastName">
        <input type="submit" value="submitNames">
        <br>
        <div>
        Background Color: <input type="color" name="backgroundColor">
        <input type="submit" value="submitColor">
        </div>
        </div>
	</form>
</html>